<!DOCTYPE html>
<html>
    <form method="POST" action="/new">
      <p>Enter Puppy:<input type="text" name="name"></p>
      <p>Enter Breed:<input type="text" nane="breed"></p>
      <p>Enter Age:<input type="text" nane="age"></p>
      <input type="submit" value="submit">
    </form>
</html>
