<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form method="POST" action="/NEW">
      <p>Enter Puppy:<input type="text"name="name"></p>
      <input type="submit">
    </form>
  </body>
</html>